// STYLES
@import "@styles/global.scss";

.card {
  background-color: white;
  padding: 60px 35px 35px 35px;
  position: relative;
  width: 30%;
  z-index: 10;

  .image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: $Dark-Violet;
    position: absolute;
    top: -40px;
    left: 30px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

