@import "./global.scss";

.nav.link {
  color: $Text-Gray;
  transition: color 0.25s ease;

  &:hover {
    color: $Text-Very-Dark-Violet;
    cursor: pointer;
  }
}

.nav.link.menu {
  color: white;
  transition: color 0.25s ease;

  &:hover {
    color: $Text-Gray;
    cursor: pointer;
  }
}
