// STYLES
@import "@styles/global.scss";

footer {
  background-color: $Text-Very-Dark-Violet;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;

  //   .left-logo{

  //   }
  .middle-links {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
  }
  .right-social-media {
    display: flex;
    align-items: start;
    gap: 15px;

    img {
      transition: filter 0.25s ease;
      &:hover {
        filter: invert(0%) sepia(43%) saturate(5474%) hue-rotate(124deg)
          brightness(100%) contrast(85%);
        cursor: pointer;
      }
    }
  }
}
