@import "./global.scss";

.shortener-sec {
  position: absolute;
  top: -63px;
  margin: 0 auto -40px auto;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  background-color: $Dark-Violet;
  background-image: url("@images/bg-shorten-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 40px;
  position: relative;

  .shortener {
    display: flex;
    gap: 40px;

    input[type="text"] {
      flex: 1;
      padding: 10px;
      border-radius: 10px;
      border: none;

      &:focus {
        outline: 1px solid $Text-Very-Dark-Violet;
      }
    }
  }

  #error {
    position: absolute;
    top: 90px;
    left: 50px;
    font-size: 0.8rem;
    font-style: italic;
    color: red;
  }
}
