// STYLES
@import '@styles/global.scss';

main {
  padding: 30px;
}

.gray {
    position: relative;
  margin: 0 -30px -35px -30px;
  background-color: $Text-Gray-Lighter;
  padding: 0 30px;
}

.shortened-links-section{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    gap: 10px;
}

