// STYLES
@import "@styles/global.scss";

.shortened-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;
  row-gap: 15px;

  .leftSide {
    display: flex;
    gap: 10px;

    .close {
      width: 20px;
      height: 20px;
      font-size: 2rem;
      transform: translateX(-10px) translateY(-4px) rotate(315deg);

      &:hover {
        cursor: pointer;
        transform: translateX(-10px) translateY(-4px) rotate(315deg) scale(1.1);
      }
    }
    .longURL {
      color: $Text-Very-Dark-Violet;
      text-wrap: wrap;
    }
  }
  .rightSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    width: 25%;
    gap: 10px;

    .shortURL {
      color: $Cyan;
      transition: transform 0.25s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }
    }
  }
}
